html, body, #app {
    height: 100vh;
    margin: 0;
    background-color: lightskyblue;
    cursor: url(src/assets/cursors/jackHead36.png) 36 36, auto;
}
body {
    font-family: 'Orbitron', sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, 'Noto Sans', sans-serif; */
}

.break-v {
    flex-basis: 100%;
    width: 0;
}

/* Home Page */
#home-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: lightskyblue;
    height: 100%;
    /* font-family: "Verdana"; */
}
#home-screen .included-text {
    font-size: 1rem;
    margin: 1rem;
}

#header-line {
    height: 20rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
}

#header-line #game-title{
    margin: 0 3rem 0 3rem;
    font-size: 4rem;
    animation: grow-shrink 1s linear forwards;
    animation-iteration-count: infinite;
}
#header-line #jack-card {
    height: 13rem;
    border-radius: 10%;
}

#home-menu {
    height: 32rem;
    display: flex;
    flex-direction: column;
}

#home-menu #play-button {
    background:transparent;
    height: 7rem;
}

#home-menu #settings-button {
    background:transparent;
    height: 7rem;
    width: auto;
}

#home-menu .router-button {
    width: 7rem;
    height: 7rem;
    margin: 2rem;
    display: flex;
    cursor: url(src/assets/cursors/colorCards64.png) 36 36, auto;
}
#home-menu .router-button a {
    cursor: unset;
}
#home-menu .coming-soon {
    position: absolute;
    font-size: 2.1rem;
    color: white;
    rotate: 20deg;
    margin: 1.2rem 0rem 0 -1rem;
    text-align: center;
    z-index: 2;
    /* animation: grow-shrink 1s linear forwards;
    animation-iteration-count: infinite; */
}

/* Effects */
.dark-cover {
    width: 8.5rem;
    height: 8.5rem;
    position: absolute;
    z-index: 1;
    background-color: #000;
    background: rgba(0, 0, 0, 0.5);
    margin: -0.7rem 0rem 0 -0.7rem;
}

.blur {
    filter: blur(10px);
}


/* In Game Page */
#start-game-text {
    width: 80%;
    text-align: center;
    font-size: 6rem;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#game-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
}
#game-board #left-column {
    width: 33%;
}
#game-board #center-column {
    width: 33%;
}
#game-board #right-column {
    width: 33%;
}

/* Scoreboard */
#scoreboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 18vw;
    min-width: 255px;
    border: .3rem black solid;
    border-radius: 30%;
    margin: 2rem;
    padding: 1rem;
    background-color: burlywood;
}

#scoreboard #scoreboard-title {
    width: 100%;
    text-align: center;
}

#scoreboard #scoreboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    column-gap: 3rem;
    row-gap: 1rem;
    margin-bottom: 3rem;
}
#scoreboard #scoreboard-grid div {
    text-align: center;
}

#scoreboard #scoreboard-grid .score-count {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 6rem;
    background-color: black;
    color: white;
    border-radius: 30%;
    font-size: 4rem;
}

/* Deck Area */
#deck-area {
    /* width: 100vw; */
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.deck {
    height: 16rem;
    border-radius: 5%;
    border: 2px black solid;
}

#flipped-position, #deck-position {
    height: 16rem;
}

.flipped-card {
    height: 16rem;
    border: 2px black solid;
    border-radius: 5%;
    position: absolute;
    top: 36.2rem;
    transform-style: preserve-3d;
}

.move-img {
    animation: slide-up .4s linear forwards;
}

@keyframes slide-up {
    50% {
        transform: rotateY(90deg) scale(1.8);
        /* transform: scale(1.2); */
    }
    100% {
        top: 10rem;
    }
}

@keyframes grow-shrink {
    25% {
        /* font-size: 3rem; */
        scale: 1.5;
    }
    50% {
        /* font-size: 4rem; */
        scale: 2;
    }
    75% {
        /* font-size: 3rem; */
        scale: 1.5;
    }
    100% {
        /* font-size: 2rem; */
        scale: 1;
    }
}